.wrapper {
    padding: 20px;
    border: 2px solid greenyellow;
    width: max-content;
    margin-top: 20px;
}

.wrapper:first-child {
    margin-top: 0;
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
    color: rgb(231, 231, 231);
    display: block;
    padding: 10px 20px;
    max-width: 300px;
}

.first {
    background-color: black;
}

.second {
    background-color: gray;
}

.third {
    background-color: tomato;
}

.fourth {
    background-color: navy;
}

.fifth {
    background-color: green;
}

.sixth {
    background-color: darkgoldenrod;
}